// Reset styles for browsers (e.g., Normalize.css).
img {
  /* https://gist.github.com/palashmon/35bda7887eb4bc45459d71eca3dda7a5 */
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  font-size: 0.75rem;
}
